# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

.DS_Store
src/.DS_Store
src/secretKeys/.DS_Store

src/secretKeys/invoice-ocr-app-668f6-firebase-adminsdk-8saw5-e731b401ea.json

lib/**/secretKeys/

/emulator-data

node_modules/