# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

src/.DS_Store
src/secretKeys/.DS_Store

.env
.env.dev
.env.prod

.DS_Store

firebase/

lib/secretKey/*
src/secretKey/*
